
@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/PT_Sans-Narrow-Web-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/PT_Sans-Narrow-Web-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



body {
    background: url("../img/b1.jpg")  no-repeat fixed ;
    background-size: 100%;
    font-family: 'PT Sans Narrow','sans-serif';
}
.main {
    margin-top: 80px;
}

.block  {
    background: transparent;
    border-radius: 15px;
    color: #fff;
    padding: 15px 20px;
    border:2px solid #0e989f;
}
.block--lab{
    margin-top: 20px;
    margin-bottom: 10px;
}

.lab-num {
    text-align: center;
    font-weight: bold;
}
.lab-num__header {
    margin-bottom: 15px;
    font-size: 19px;
}
.lab-num__numbers-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0;
    justify-content: center;
}

.lab-num__numbers-wrapper li {
    opacity: 0.7;
    list-style: none;
    background-color: #03d3c8;
    color: #362a5c;
    min-width: 55px;
    min-height: 55px;
    line-height: 55px;
    border-radius: 5px;
    border: 1px solid #01979e;
    margin: 5px;
}

.lab-num__numbers-wrapper li:hover {
    cursor: pointer;
    opacity: 1;
}


.lab-title {
    text-align: center;
    border: none;
    font-size: 20px;
}
.lab-title p{
    margin-bottom: 10px;
}

.lab-title__heading {
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}

.lab-btn {
    margin-top: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: #03d3c8;
    border: 2px solid #03d3c8;
}

.lab-btn--not-main {
    margin-bottom: 50px;
}

.lab-title__line {
    display: inline-block;
    width: 60px;
    border: 1px solid #03d3c8;
    margin-bottom: 10px;
}

.task__heading {
    font-weight: bold ;
    text-align: center
}

.task__body {
    font-size: 20px;
}

.html {
    border-top: 5px solid #dc3545;
}

.css {
    border-top: 5px solid #4c00dc;
}

.js {
    border-top: 5px solid #fff90c;
}

.code {
    width: 100%;
    height: 400px;
}

textarea {
    width: inherit;
    height: inherit;
    font-family: 'Courier New';
}

.footer__link {
    text-align: center;
}