#table{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

#table td, #table th{
    padding: 10px ;
    width: 15%;
    font-size: 16px;
    border: 1px solid black;
}

#table thead tr th{
    border: none;
}
