.calc-wrapper {
    margin-top: 60px;
    margin-bottom: 50px;
}
.calc {
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.calc__results {
    padding: 10px;
    width: 75%;
    background-color: rgba(17, 255, 151, 0.24);
}
.num-and-action {

}
.num, .action, .calc__reset{
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: unset;
    width: 25%;
}

.num {
    background-color: rgba(251, 255, 121, 0.48);
}
.action {
    background-color: rgba(255, 161, 54, 0.48);
}
.calc__reset {
    background-color: rgba(255, 111, 224, 0.48);
}